<div>
	<h1>{{ lannister.house }}</h1>
	<ul>
		<li><h2> {{ lannister.parents. }}</h2></li>
		<li>{{ lannister.child.first_child}}</li>
		<li>{{ lannister.child.second_child }}</li>
		<li>{{ lannister.child.third_child }}</li>
		<li><h2>{{ lannister.parents.second_parents }}</h2></li>
	</ul>
</div>